@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;
body {
  @apply bg-zinc-900 text-zinc-50 h-[200vh]
}

html {
  @apply font-sans;
  scrollbar-width: thin;
  scrollbar-color: #888 #2d2d2d;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #2d2d2d;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

